In [19]:
data = pd.read_csv("sample_data.csv")

In [20]:
data

   DistrictID  Literacy Rate  Population  Average Salary
0           1           85.2      500000           60000
1           2           76.8      400000           55000
2           3           92.5      300000           65000
3           4           81.3      450000           58000
4           5           88.7      550000           62000
5           6           79.6      350000           54000
6           7           95.1      600000           68000
7           8           73.2      250000           50000
8           9           86.9      480000           59000
9          10           90.4      520000           63000

   Population Literacy Rate Average Salary    District
1      195012           79%      1,009,001  Birmingham

In [21]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression

# # Step 1: Load and preprocess the data # Replace 'your_dataset.csv' with your dataset filename
# import pandas as pd
# from sklearn.model_selection import cross_val_score
# from sklearn.linear_model import LinearRegression

# # Step 1: Load and preprocess the data

# # Select one district as the sample
# sample_district = data.sample(n=1, random_state=42)

# # Remove the sample district from the original data
# original_data = data.drop(sample_district.index)

# # Step 2: Prepare the data for training and evaluation
# X_sample = sample_district[['Literacy Rate']].values  # Input feature: Literacy Rate of the sample district
# y_sample = sample_district['Average Salary'].values  # Target variable: Average Salary of the sample district

# X_original = original_data[['Literacy Rate']].values  # Input feature: Literacy Rate of the original data
# y_original = original_data['Average Salary'].values  # Target variable: Average Salary of the original data

# # Step 3: Train and evaluate the model using cross-validation
# model = LinearRegression()
# scores = cross_val_score(model, X_original, y_original, cv=5)  # Perform 5-fold cross-validation

# # Step 4: Fit the model using the original data
# model.fit(X_original, y_original)

# # Step 5: Make predictions using the sample district
# predicted_salary = model.predict(X_sample)
# print('Predicted Average Salary:', predicted_salary[0])

# # Step 6: Print the cross-validation scores
# print('Cross-Validation Scores:', scores)
# print('Average Cross-Validation Score:', scores.mean())

Predicted Average Salary: 61062.41048233354
Cross-Validation Scores: [0.61005925 0.92426732 0.87145101 0.96901377        nan]
Average Cross-Validation Score: nan

C:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


X = data[['Literacy Rate', 'Population']].values  # Input features: Literacy Rate and Population
y = data['Average Salary'].values  # Target variable: Average Salary

# Step 2: Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Step 4: Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

# Step 5: Make predictions
new_district_lr = 77.9  # Replace with the literacy rate of the new district you want to predict
new_district_population = 1769230 # Replace with the population of the new district you want to predict
predicted_salary = model.predict([[new_district_lr, new_district_population]])
print('Predicted Average Salary:', predicted_salary[0])

Mean Squared Error: 3804529.6732321666
Predicted Average Salary: 58203.90229350353